{# templates/get_tags_for_resource.jinja2 #}
    result = dict(comment=[], result=True, ret=None)

    if not resource_id:
        result["result"] = False
        result["comment"] = ["resource_id parameter is None"]
        return result

    # TODO: Check boto3 documentation for request syntax: {{ function.hardcoded.boto3_documentation }}
    tags_ret = await {{ function.hardcoded.boto3_function }}(
        ctx,
        # TODO: Map input params with: {{ function.hardcoded.function_input_param_names }}
    )

    if not tags_ret["result"]:
        result["result"] = False
        result["comment"] = tags_ret["comment"]
        return result

    # TODO: Check boto3 documentation for response syntax: {{ function.hardcoded.boto3_documentation }}
    tags = tags_ret.get("ret").get("TODO: {response_key}") if tags_ret.get("result") else None
    result["ret"] = hub.tool.aws.tag_utils.convert_tag_list_to_dict(tags)

    return result
